body { margin: 0; padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
     background: rgb(2, 224, 253);
     } .container { width: 200px;
         height: 300px;
          position: absolute;
           top: 50%;
            left: 50%; 
            transform: translate(-50% , -50%);
             perspective: 1000px; 
             transform-style: preserve-3d; 
            } .container .front img { width: 100%; 
                border-radius: 10px; 
            } .flipcard { position: relative;
                 transition: 0.8s;
                  transform-style: preserve-3d; 
                } .flipcard .front { position: absolute; top: 0; 
                    left: 0; backface-visibility: hidden; 
                    transition: 0.8s;
                     transform-style: preserve-3d; 
                     z-index: 100;
                      border-radius: 8px; 
                      box-shadow: 0 5px 10px rgba(0,0,0,0.5); 
                    } .flipcard .back { position: absolute; 
                        top: 0; left: 0;
                         backface-visibility: hidden;
                          transition: 0.8s;
                           transform-style: preserve-3d; 
                           z-index: 99; border-radius: 8px; 
                           box-shadow: 0 5px 10px rgba(255, 0, 0, 0.5);
                            background: rgb(0, 0, 0); width: 200px;
                             height: 300px; 
                             transform: rotateY(180deg); 
                             text-align: center; line-height: 300px; 
                            } .container:hover .front { transform: rotateY(-180deg);
                             } .container:hover .back { transform: rotateY(0deg);
 } h4 { margin: 0;
     padding: 0;
      font-size: 24px; 
      color: rgb(0, 255, 76); 
      text-transform: uppercase;
     }